@import '~@angular/material/theming';

.container {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 12px;
  margin: auto;
  width: 1024px;

  .gt {
    margin: 30px 0 0;

    .gt-neck {
      display: table;
      border-collapse: collapse;

      .gt-string {
        display: table-row;
        border-collapse: collapse;

        /** fret */
        &:not(:last-child) {
          .step:nth-child(4),
          .step:nth-child(6),
          .step:nth-child(8),
          .step:nth-child(10),
          .step:nth-child(16),
          .step:nth-child(18),
          .step:nth-child(20),
          .step:nth-child(22)
          {
            background-color: map_get($mat-brown, 100);
          }
          .step:nth-child(13),
          .step:nth-child(25) {
            background-color: map_get($mat-brown, 300);
          }
        }

        &:last-child .step {
          border-color: transparent !important;
        }

        .step {
          border: 1px solid map_get($mat-blue-grey, 900);
          border-collapse: collapse;
          box-sizing: border-box;
          display: table-cell;
          height: 30px;
          position: relative;
          min-width: 45px;
          width: 45px;

          &:first-child {
            border-width: 0 10px 0 0;
          }

          .label {
            border-radius: 50%;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            right: 5px;
            text-align: center;
            top: -10px;
            width: 20px;

            &.active {
              background-color: white;
              border: 1px solid map_get($mat-brown, 900);

              &.highlight {
                background-color: map_get($mat-brown, 900);
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .gt-selector {
    display:  inline-block;
    position: absolute;
    left:     24px;

    mat-form-field {
      width: 120px;

      & /deep/ .mat-input-infix {
        border: 0;
      }
    }
  }

  .step-list {
    display: inline-block;

    .step-list-item {
      background-color: map_get($mat-brown, 100);
      border-radius: 50px;
      height: 25px;
      line-height: 25px;
      min-width: 60px;
      padding: 0;

      &.hidden {
        display: none;
      }

      &.selected {
        background-color: map_get($mat-brown, 500);
        color: white;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  .mode-selector {
    display: inline-block;
    position: absolute;
    right: 24px;
  }

  .tone-list {
    .tone-list-item {
      background-color: map_get($mat-brown, 100);

      &.selected {
        background-color: map_get($mat-brown, 500);
        color: white;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .scale-list {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 500px;

    .scale-list-item {
      background-color: map_get($mat-brown, 100);
      margin: 0 5px 5px 0;
      width: 145px;

      &.selected {
        background-color: map_get($mat-brown, 500);
        color: white;
      }
    }
  }

  .code-list {
    display: inline-block;
    vertical-align: top;
    width: 400px;

    .code-list-item {
      background-color: map_get($mat-brown, 100);
      margin-bottom: 10px;
      margin-right: 10px;

      &.selected {
        background-color: map_get($mat-brown, 500);
        color: white;
      }
    }
  }

  .mat-card {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 960px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
