.container {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 12px;
  padding: 30px;

  .gt {
    margin-bottom: 30px;

    .gt-neck {
      display: table;
      border-collapse: collapse;

      .gt-string {
        display: table-row;
        border-collapse: collapse;

        /** fret */
        &:not(:last-child) {
          .step:nth-child(4),
          .step:nth-child(6),
          .step:nth-child(8),
          .step:nth-child(10),
          .step:nth-child(16),
          .step:nth-child(18),
          .step:nth-child(20),
          .step:nth-child(22)
          {
            background-color: antiquewhite;
          }
          .step:nth-child(13),
          .step:nth-child(25) {
            background-color: aquamarine;
          }
        }

        &:last-child .step {
          border-color: transparent !important;
        }

        .step {
          border: 1px solid;
          border-collapse: collapse;
          box-sizing: border-box;
          display: table-cell;
          height: 30px;
          position: relative;
          min-width: 60px;
          width: 60px;

          &:first-child {
            border-width: 0 10px 0 0;
          }

          .label {
            border-radius: 50%;
            color: white;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            right: 10px;
            text-align: center;
            top: -10px;
            width: 20px;

            &.active {
              background-color: black;

              &.root {
                background-color: brown;
              }
              &.fifth {
                background-color: chocolate;
              }
            }
          }
        }
      }
    }
  }

  .tone-list {
    margin-bottom: 30px;

    .tone-list-item {
      background-color: antiquewhite;
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;

      &.selected {
        background-color: aquamarine;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .scale-list {
    display: inline-block;
    vertical-align: top;
    width: 360px;

    .scale-list-item {
      background-color: antiquewhite;
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 5px 5px 0;
      padding: 10px 20px;
      width: 160px;

      &.selected {
        background-color: aquamarine;
      }
    }
  }

  .code-list {
    display: inline-block;
    vertical-align: top;
    width: 400px;

    .code-list-item {
      background-color: antiquewhite;
      border-radius: 50%;
      box-sizing: border-box;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: center;
      width: 50px;

      &.selected {
        background-color: aquamarine;
      }
    }
  }
}
